<h1>Listado de solicitudes de contacto</h1>

<a href="#" routerLink="/contacto/crear">
    Crear una nueva solicitud</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of requests">
            <th>{{ item.id }}</th>
            <td>{{ item.nombre }}</td>
            <td>{{ item.email }}</td>
            <td>
                | <a href="#" [routerLink]="['/contacto/', item.id, 'listar']">Detalle</a> |
                <a href="#" [routerLink]="['/contacto/', item.id, 'editar']">Editar</a> |
                <a href="#" [routerLink]="['/contacto/', item.id, 'eliminar']">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>