<h1>Editar solicitud de contacto</h1>
<form [formGroup]="_form" (ngSubmit)="submit()" style="display:inline-block; width: 45vw;
    outline: 1px solid yellow;">

    <div style="display: inline-block; width: 100%">
        <label style="display:inline-block; width: 40%" id="contacto-lbl-nombre" for="contacto-inp-nombre">
            Nombre
        </label>
        <input style="display: inline-block; width: 50%" [(ngModel)]="cRequest.nombre" formControlName="nombre"
            id="nombre" name="nombre" type="text" placeholder="Escriba su nombre completo" required maxlength="50"
            minlength="5" />
        <div *ngIf="form['nombre'].touched && form['nombre'].invalid">
            <div *ngIf="form['nombre'].errors && form['nombre'].errors['required']">
                El nombre es requerido
            </div>
            <div *ngIf="form['nombre'].errors && form['nombre'].errors['maxlength']">
                El número máximo de caracteres es de 50
            </div>
            <div *ngIf="form['nombre'].errors && form['nombre'].errors['minlength']">
                El número mínimo de caracteres es de 5
            </div>
        </div>
    </div>

    <div style="display: inline-block; width: 100%">
        <label style="display:inline-block; width: 40%" id="contacto-lbl-email" for="contacto-inp-email">
            Correo Electrónico
        </label>
        <input style="display: inline-block; width: 50%" [(ngModel)]="cRequest.email" formControlName="email" id="email"
            name="email" type="email" placeholder="Escriba su correo electrónico" required maxlength="50"
            minlength="5" />
        <div *ngIf="form['email'].touched && form['email'].invalid">
            <div *ngIf="form['email'].errors && form['email'].errors['required']">
                El email es requerido
            </div>
            <div *ngIf="form['email'].errors && form['email'].errors['email']">
                Debe capturar un correo electrónico válido
            </div>
            <div *ngIf="form['email'].errors && form['email'].errors['maxlength']">
                El número máximo de caracteres es de 50
            </div>
            <div *ngIf="form['email'].errors && form['email'].errors['minlength']">
                El número mínimo de caracteres es de 5
            </div>
        </div>
    </div>

    <div>
        <label id="contacto-lbl-mensaje" for="contacto-inp-mensaje">
            Mensaje
        </label>
        <textarea [(ngModel)]="cRequest.mensaje" formControlName="mensaje" id="mensaje" name="mensaje"
            placeholder="Escriba el mensaje a enviar" required maxlength="250" minlength="5"></textarea>
    </div>

    <div>
        <label id="contacto-lbl-asunto" for="contacto-inp-asunto-pregunta">
            Asunto
        </label>
        <div>
            <div>
                <label id="contacto-lbl-asunto-sugerencia" for="contacto-inp-asunto-sugerencia">
                    Sugerencia
                </label>
                <input [(ngModel)]="cRequest.asunto" formControlName="asunto" id="contacto-inp-asunto-sugerencia"
                    type="radio" required value="Sugerencia" name="asunto" />
            </div>

            <div>
                <label id="contacto-lbl-asunto-reporte" for="contacto-inp-asunto-reporte">
                    Reporte
                </label>
                <input id="contacto-inp-asunto-reporte" type="radio" required value="Reporte" name="asunto"
                    [(ngModel)]="cRequest.asunto" formControlName="asunto" />
            </div>

            <div>
                <label id="contacto-lbl-asunto-pregunta" for="contacto-inp-asunto-pregunta">
                    Pregunta
                </label>
                <input id="contacto-inp-asunto-pregunta" type="radio" required value="Pregunta" name="asunto"
                    [(ngModel)]="cRequest.asunto" formControlName="asunto" />
            </div>
        </div>
    </div>

    <div>
        <label id="contacto-lbl-contactar" for="contacto-inp-contactar">
            ¿Deseas que te contactemos?
        </label>
        <input id="contacto-inp-contactar" type="checkbox" value="Contactar" [(ngModel)]="cRequest.contactar"
            formControlName="contactar" name="contactar" />
    </div>

    <div>
        <label id="contacto-lbl-noticias" for="contacto-inp-noticias">
            ¿Deseas recibir noticias?
        </label>
        <input id="contacto-inp-noticias" type="checkbox" value="Noticias" [(ngModel)]="cRequest.noticias"
            formControlName="noticias" name="noticias" />
    </div>

    <div>
        <label id="contacto-lbl-propridad" for="contacto-inp-propridad">
            Prioridad del mensaje
        </label>
        <select id="contacto-inp-propridad" [(ngModel)]="cRequest.prioridad" formControlName="prioridad"
            name="prioridad">
            <option value="0">Seleccione un elemento de la lista</option>
            <option value="1">Crítico</option>
            <option value="2">Alto</option>
            <option value="3">Medio</option>
            <option value="4">Bajo</option>
        </select>
    </div>
    <input type="submit" value="Enviar" [disabled]="!_form.valid" />
</form>

<div id="map" style="height: 200px; width: 50%;
       display: inline-block; width: 45vw; outline:1px solid red;"></div>